*{
    box-sizing: border-box;
    margin: 5;
    padding:1%;
    flex-wrap: wrap;

    font-family:Georgia, serif;
}

body{
    background: #bca2b5;

}

.container{
    background: white;
    max-width: 2050px;
    margin: 8px auto;
    height: 53%;
    padding: 20px;
    box-shadow: 0 2px 20px black; 
    

    }

.header h1{
    text-align: center;
}

.header h1{
    margin-bottom: 13px;
}

.header h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove rgb(211, 25, 136);


}

.img-area img{
    width: 100%;
}

.main{
    display: flex;
    flex-wrap: wrap;

}
.education p{
    flex: 1
    
}
.education p{
    line-height: 5;

}

.education ul li{
    flex-wrap: wrap;
    width: 70%;
    padding-right: 10%;
    height:max-content
}

h2{
    background: #060606;
    padding: 15px;
    color: white;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
}

.right{
    flex: 1px;
    padding: 10px;
    width: 600px;

    
}


.right p{
    line-height: 2.9;
}

.right ul li{
    line-height: 2;
}

.skills{
    flex-wrap: wrap;
    width: 70%;
    padding-left: 4%;
    height:max-content
}